<table class="table table-striped table-hover">
        	<thead>
            	<tr>
                	<th>Event</th>
                    <th>Date-Time</th>
                    <th>Duration</th>
                </tr>
                
                <tbody>
                	{{#each this}}
                    	<tr>
                        <td><span class="label label-{{color}}"><i class="fa fa-{{icon}}"></i> {{status}}</span></td>
                        <td>{{date}}</td>
                        <td>{{duration}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </thead>
        </table>

